In [1]:
import pandas as pd


df = pd.DataFrame({'x': [23, 34, 45, 270, 410, 1200]})
df

      x
0    23
1    34
2    45
3   270
4   410
5  1200

In [2]:
df['x'] = df['x'].astype(str)
df = df.sort_values('x')
df

      x
5  1200
0    23
3   270
1    34
4   410
2    45

In [3]:
import numpy as np

df['fold'] = np.arange(len(df)) % 2
df

      x  fold
5  1200     0
0    23     1
3   270     0
1    34     1
4   410     0
2    45     1