In [2]:
import numpy as np
import pandas as pd

def stratify(df, variables, num_folds=2):
    df = df.copy()
    
    df['fold'] = -1
    strata = df.groupby(['sex', 'diagnosis'])
    
    for idx in strata.indices.values():
        df.loc[idx, 'fold'] = np.arange(len(idx)) % num_folds

    return [
        df[df['fold'] == fold].drop(columns='fold') 
        for fold in range(num_folds)
    ]

df = pd.DataFrame({
    'sex': [0, 0, 0, 0, 1, 1, 1, 1], 
    'diagnosis': [0, 1, 0, 1, 0, 1, 0, 1]
})

folds = stratify(df, ['sex', 'diagnosis'], 5)

for fold in folds:
    print(fold)

   sex  diagnosis
0    0          0
1    0          1
4    1          0
5    1          1
   sex  diagnosis
2    0          0
3    0          1
6    1          0
7    1          1
Empty DataFrame
Columns: [sex, diagnosis]
Index: []
Empty DataFrame
Columns: [sex, diagnosis]
Index: []
Empty DataFrame
Columns: [sex, diagnosis]
Index: []

In [3]:
df = pd.DataFrame({
    'sex': [0, 1, 0, 1, 0, 1],
    'value': [27, 55, 142, 295, 1025, 413]
})
df['strata'] = df['sex'].astype(str) + '-' + df['value'].astype(str)
df = df.sort_values('strata')

df

   sex  value  strata
4    0   1025  0-1025
2    0    142   0-142
0    0     27    0-27
3    1    295   1-295
5    1    413   1-413
1    1     55    1-55