In [1]:
import pandas as pd


df = pd.read_csv('/Users/esten/Downloads/Auto.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [6]:
from sklearn.preprocessing import StandardScaler

df[['horsepower', 'weight']] = StandardScaler().fit_transform(df[['horsepower', 'weight']])

In [7]:
from sklearn.linear_model import Ridge

for alpha in [1, 1000, 100000]:
    model = Ridge(alpha=alpha)
    model.fit(df[['horsepower', 'weight']], df['mpg'])
    print(model.coef_)

[-1.84243915 -4.88206931]
[-1.34362855 -1.49978416]
[-0.02360794 -0.02525154]